$bg-color-gray: #212226;
$bg-color-dark: #000000;

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient($bg-color-gray, $bg-color-dark);
}
